@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

body {
    margin: 0;
}

#first {
    background: linear-gradient(100deg, #2F5184, #42CC92);
}

#second {
    background: linear-gradient(100deg, #A53376, #D38016);
}

.viewport {
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
}

img {
    width: 100%;
}

i {
    position: absolute;
    color: whitesmoke;
    bottom: 10px;
    right: 5px;
}