@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    padding: 0 30px 50px 30px;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0,0,0);
}

header p {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    width: 85%;
}

header nav ul {
    margin-right: 10px;
    margin-top: 40px;
    display: flex;
    list-style: none;
    gap: 25px;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

h1 {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 26px;
}